@model Mirabeau.UI.MVC.Models.AirportViewModel

<tr>
    <td>
        @Html.DisplayFor(modelItem => Model.Continent)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.IATA)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.ISO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Latitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Longitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Size)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Type)
    </td>
    <td>
        <a href="#">View on map</a>
    </td>
</tr>